
/* header section for small devices------------------------------------------ */
@media screen and (max-width: 576px) {
  .navbar{
    flex-direction: column;
    /* margin-left: 50px; */
  }

  .logo-container{
    width: 100%;
  }

  .menu-container{
    flex-direction: column;
    /* margin-left: 80px; */
    width: 100%;
    gap: 20px;
  }
}

/*header section for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .navbar{
        flex-direction: column;
        align-items: center;
    }

    .menu-container{
        gap: 20px;
    }
}

/* banner section for small devices--------------------------------------------- */
@media screen and (max-width: 576px) {
   .banner-section{
        flex-direction: column;
   }

   .banner-text-container{
      width: 100%;
      order: 2;
   }

   .banner-image-container{
    width: 100%;
    order: 1;
   }
}


/* banner section for medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .banner-section{
    width: 80%;
  }
  
}